body {
    font-size: 14px;
    user-select: none;
}

.button {
    border: 1px outset #CCC;
    cursor: pointer;
    font-weight: bold;
    padding: 3px;
}

.button:hover {
    filter: contrast(75%);
}

.button:active {
    border-style: inset;
    filter: contrast(25%);
}

input, textarea {
    font-size: 14px;
    resize: none;
    padding: 3px;
}

option:checked {
    font-weight: bold;
    color: #F00;
}