body {
    position: absolute;
    top: 50px;
    left: calc((100% - 600px) / 2);
    width: 600px;
}

.container {
    padding: 10px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.value input{
    padding: 5px;
    width: 300px;
}

.value textarea {
    height: 200px;
    width: 300px;
}

.aria2 {
    padding: 5px;
    position: absolute;
    top: 37px;
    height: 21px;
}

#aria2_check {
    left: 330px;
}

#aria2_result {
    left: 375px;
}

#capture_main {
    position: absolute;
    top: 220px;
    left: -55px;
    height: 22px;
}

#size_entry {
    width: 230px;
}

#size_unit {
    position: absolute;
    top: 321px;
    left: 270px;
    height: 30px;
}
