body {
    margin-left: calc((100% - 430px) / 2);
    width: 430px;
}

body > div {
    margin-left: 10px;
}

body > div:nth-child(n+2) div {
    margin-top: 10px;
}

#captureFilters > div {
    margin-left: 10px;
}

input, textarea {
    width: calc(100% - 25px);
}

select {
    padding: 6px 1.5px;
}

.icon {
    position: absolute;
    right: 30px;
    margin-top: 5px;
}

.icon:hover {
    filter: opacity(60%);
}

.icon:active {
    filter: opacity(30%);
}

.password {
    filter: grayscale(100%) contrast(50%);
}

.password:hover {
    filter: grayscale(50%) contrast(50%) opacity(60%);
}

.password:active {
    filter: grayscale(100%) contrast(50%) opacity(30%);
}

.text:hover {
    filter: grayscale(50%) opacity(60%);
}

.text:active {
    filter: grayscale(50%) contrast(50%) opacity(30%);
}

#sizeEntry {
    width: calc(100% - 80px);
}

#useragent {
    height: 58px;
}
