body {
    position: absolute;
    top: 50px;
    left: calc((100% - 600px) / 2);
    width: 600px;
}

.container {
    padding: 10px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

input, textarea {
    width: 300px;
}

.jsonrpc {
    padding: 3px;
    position: absolute;
    top: 37px;
}

.token {
    padding: 3px;
    position: absolute;
    top: 130px;
}

#aria2_check, #aria2_show {
    left: 330px;
}

#aria2_result {
    left: 380px;
}

#capture_main {
    position: absolute;
    top: 215px;
    left: -55px;
    height: 22px;
}

#size_entry {
    width: 240px;
}

#size_unit {
    position: absolute;
    top: 315px;
    left: 280px;
    height: 27px;
}
