body {
    width: 400px;
    font-size: 14px;
    user-select: none;
}

#mainMenu {
    position: absolute;
    top: 7px;
    right: 7px;
}

#addTaskWindow {
    position: absolute;
    background-color: #FFF;
    top: 32px;
    width: 380px;
    border: 1px solid #CCC;
    padding: 10px;
}

#addTaskMenu {
    position: absolute;
    top: 13px;
    right: 10px;
}

#taskBatch {
    resize: none;
}

#taskList {
    height: 400px;
    overflow-y: scroll;
}

#taskList .button {
    font-size: 9px;
}

.button {
    border: 1px solid #CCC;
    font-size: 14px;
    font-weight: bold;
    background-color: #FFF;
    cursor: pointer;
    padding: 3px;
}

.button:hover {
    color: #FFF;
}

.status {
    color: #FFF;
    width: max-content;
    padding: 3px;
}

.taskBox {
    width: 75%;
    font-size: 14px;
    padding: 3px;
}

.taskInfo {
    font-size: 14px;
    max-width: 380px;
    margin: 0px 0px 10px 0px;
}

.progress {
    height: 20px;
    max-width: 380px;
    text-align: center;
}

.progress span {
    display: block;
    height: inherit;
    color: #FFF;
}

.active, .button:hover {
    background-color: #33C;
}

.paused, .waiting {
    background-color: #CC3;
}

.error, .progress span:active {
    background-color: #C33;
}

.complete, .upload {
    background-color: #3C3;
}

.removed, .stopped {
    background-color: #C3C;
}

.download, .progress {
    background-color: #3CC;
}

.taskName {
    font-size: 16px !important;
    font-weight: bold;
    word-break: break-all !important;
}

.complete_extra {
    display: none;
}
