body {
    width: 400px;
    user-select: none;
}

#mainMenu {
    position: absolute;
    top: 7px;
    right: 5px;
}

#addTaskWindow {
    position: absolute;
    background-color: #FFF;
    top: 30px;
    width: 380px;
    border: 1px solid #CCC;
    padding: 10px;
}

#addTaskMenu {
    position: absolute;
    top: 13px;
    right: 10px;
}

#taskBatch {
    resize: none;
}

#taskList {
    height: 400px;
    overflow-y: scroll;
}

div[id^="taskInfo_"] {
    font-size: 13px;
    max-width: 380px;
}

.button {
    border: 1px solid #CCC;
    font-size: 13px;
    font-weight: bold;
    background-color: #FFF;
    cursor: pointer;
    padding: 3px;
}

.button:active {
    color: #FFF;
    background-color: #CCC;
}

.taskBox {
    width: 75%;
    font-size: 13px;
    padding: 3px;
}

.status {
    color: #FFF;
    width: max-content;
    padding: 3px;
}

.progbar {
    height: 20px;
    margin-top: 2px;
    margin-bottom: 10px;
    transition: width 1s;
    max-width: 380px;
}

.active {
    background-color: #33C;
}

.paused, .waiting {
    background-color: #CC3;
}

.error {
    background-color: #C33;
}

.complete, .upload {
    background-color: #3C3;
}

.removed {
    background-color: #C3C;
}

.download {
    background-color: #3CC;
}

.tasktitle{
    font-size: 15px !important;
    font-weight: bold;
    word-break: break-all !important;
}

.removebtn {
    margin: auto auto auto 5px;
    font-size: 0.6em;
    border: 1px solid #CCC;
    border-radius: 3px;
    background-color: white;
    padding: 1px;
}

.complete_info2{
    display: none;
}
