body {
    font-size: 14px;
    width: 400px;
    user-select: none;
}

#globalMenu {
    position: absolute;
    top: 7px;
    right: 7px;
}

#options_btn {
    position: absolute;
    bottom: 4px;
    right: 7px;
}

#addTaskWindow {
    background-color: #FFF;
    border: 1px solid #CCC;
    position: absolute;
    top: 32px;
    width: 380px;
    padding: 10px;
}

#addTaskMenu {
    position: absolute;
    top: 13px;
    right: 10px;
}

#taskBatch {
    resize: none;
}

.taskQueue {
    height: 400px;
    overflow-y: scroll;
}

.taskQueue .button {
    font-size: 9px;
}

.button {
    background-color: #FFF;
    border: 1px outset #CCC;
    cursor: pointer;
    font-weight: bold;
    padding: 3px;
}

.button:hover {
    filter: contrast(75%);
}

.button:active {
    filter: invert(75%);
}

.checked {
    border-style: inset;
    border-top: 2px solid #F00;
}

.status {
    color: #FFF;
    width: fit-content;
    padding: 3px;
}

.taskBox {
    font-size: 14px;
    width: 75%;
    padding: 3px;
}

.taskInfo {
    width: 380px;
}

.progress {
    color: #FFF;
    height: 20px;
    width: 380px;
    text-align: center;
}

.progress span {
    display: block;
    height: 20px;
}

.progress:active, .progress:active span {
    filter: contrast(75%);
}

.active_bar, .paused_bar, .download {
    background-color: #3CC;
}

.removed_bar, .error_bar, .stopped {
    background-color: #CCC;
}

.active {
    background-color: #33C;
}

.paused {
    background-color: #CC3;
}

.error, .removed {
    background-color: #C33;
}

.complete {
    background-color: #3C3;
}

.upload {
    background-color: #C3C;
}

.taskName {
    font-weight: bold;
}

.capitalize {
    text-transform: capitalize;
}

.complete_extra {
    display: none;
}
